* {
  color: #707070;
}

body {
  background-color: #BBE088;
}

.content-bg {
  position: absolute;
  padding-top: 30px;
  padding-left: 120px;
  display: flex;
  justify-content: center;
  width:100%
}

.image-bg {
  width: 1067px;
  height: 628px;

}

.login-form {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  padding: 90px;
}

.card {
  padding: 20px;
}

.link {
  color: #6C63FF;
  font-size: 14px;
}

.btn-primary {
  background-color: #56A0D8;
}

.line {
  margin: 30px 0;
}

.line h6 {
  position: relative;
  text-align: center;
}

.line h6 span {
  position: relative;
  z-index: 1;
  padding: 0 10px;
  background-color: #FFFFFF;
}

.line h6::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  z-index: 0;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  background: #707070;
}

.icon-btn i {
  color: #dc3545;
}

.icon-btn:hover i {
  color: white;
}